html,
body,
#svgWrapper,
svg {
  margin: 0;
  height: 100%;
  touch-action: pinch-zoom;
}

g.circles circle:hover {
  cursor: move;
}

#textInput {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: 100px;
}

.hovercursor {
  cursor: pointer;
}

.moving {
  fill: green;
}

#controls {
  margin-top: 5px;
}

#controls input {
  width: 3em;
}

#planediv {
  width: 50%;
}

line {
  stroke: lightgreen;
  stroke-width: 3;
}

#plane {
  width: 100%;
  height: 500px;
  background-color: #fdfdfd;
  border-style: solid;
  border-color: #2f2f2f;
  border-width: 1px;
}

#treediv {
  width: 100%;
  float: left;
}

#tree {
  width: 100%;
  float: left;
  height: 950px;
  background-color: #2f2f2f;
}

#treeContainer {
  position: relative;
}

#termExplainContainer {
  position: absolute;
  right: 0%;
  padding: 10px;
  background-color: #2f2f2f00;
}

#termExplainContainer p {
  color: #fdfdfd;
  font-size: 3px;
}
